@import "tailwindcss";

:root {
  --background: #F9F7FC;
  --foreground: #1a1a2e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-purple: #4A027D;
  --color-brand-pink: #FB0467;
  --color-brand-yellow: #FFEF70;
  --color-brand-mint: #2BDA9F;
  --color-brand-cyan: #0DAAC9;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
